body {
  color: #000;
  margin: 0;
  padding: 0;
}

body > header {
  background: #000;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

body > header nav {
  margin: 0;
  text-align: right;
  cursor: default;
  font-family: 'DejaVu Sans', sans-serif;
}

body > header nav a {
  margin: 0 0 0 1.2rem;
  display: inline;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #000;
  transition: 100ms border-color;
}

body > header nav a:hover {
  border-bottom: 3px solid #fff;
}

body > header h1 {
  margin: 0;
}

body > header h1 a {
  font-family: 'Noto Sans', serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  float: left;
}

h1, h2, h3 {
}
h1 { font-size: 2.6rem; }
h2 { font-size: 2rem; }

main > header {
  background: rgb(248, 245, 239);
}

main > header h1 {
  font-family: 'PT Mono';
  text-transform: uppercase;
  color: #000;
  margin: 0;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 2rem;
  padding: 1.1rem 0 1rem;
}

main > header h1::after {
  content: '·';
  opacity: .2;
}


main > section {
  margin-top: 2rem;
}

article {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.54;
  margin: 3.4rem 0 5rem;
}

article header {
  margin-bottom: 3rem;
}

article nav.toc {
  margin-bottom: 2.5rem;
}

article header h1 {
  display: inline;
  clear: both;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: 'Cardo', serif;
  box-shadow: inset 0 -8px #fff, inset 0 -21px #bee2e0;
}

article header h1::after,
article header h2::after {
  content: '';
  display: block;
}

article header h2 {
  display: inline;
  padding: 0 0 0 1rem;
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.4;

  font-family: 'Cardo', serif;
  text-decoration: underline;
  -webkit-text-decoration-color: salmon;
  text-decoration-color: salmon;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy; 
}

article header p {
  padding: 0 0 0 1rem;
  color: #555;
  margin: 1rem 0 0;
}


article .toc ul {
  list-style: none;
  padding-left: 2rem;
}

article .toc a {
  text-decoration: none;
}

article .toc a:hover {
  text-decoration: underline;
}

article .toc .toc-section-number {
  padding-right: .4rem;
  font-family: 'Fira Mono';
  letter-spacing: -2px;
  font-weight: 300;
}

article section h1::before {
  content: '';
  height: 2rem;
  display: block;
}

article section h1::after {
  content: '';
  display: block;
  height: 1rem;
}

article section h1,
article section h2,
article section h3,
article section h4,
article section h5 {
  margin: 1rem 0 1rem;
  font-weight: 400;
}

article section h2 {
}

.header-section-number {
  font-family: 'Fira Mono', sans-serif;
  opacity: .5;
  font-weight: 300;
  letter-spacing: -2px;
  padding-right: .8rem;
}

h1 .header-section-number::after { content: '.'; }

article section h1 + * { margin-top: 0; }

article li {
  padding-bottom: .3rem;
}

article section h1 {
  font-size: 2rem;
  display: inline;
  box-shadow: inset 0 -6px #fff, inset 0 -15px #f9e5c7;
}

article section h2 { font-size: 1.6rem; }
article section h3 { font-size: 1.6rem; }
article section h4 { font-size: 1.4rem; }
article section h5 { font-size: 1.2rem; }

article > div.line-block, article >  p {
  margin: 1rem 0;
}

article > section:first-child > h1::before  { margin-top: 0; }

article hr {
  border: 0;
  margin: 2.5rem 0;
  border-top: 1px solid #000;
  opacity: .1;
}

.katex-display {}

.middle, footer,
main article,
main > header h1,
main > section {
  width: 90%;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: .85em;
}

pre > code { line-height: 1.2; }

.kw { font-weight: 500; } /* Keyword */
.dt { color: #800000; } /* DataType */
.dv { color: #c9903a; } /* DecVal */
.bn { color: #0000ff; } /* BaseN */
.fl { color: #800080; } /* Float */
.ch { color: #ff00ff; } /* Char */
.st { color: #72a577; } /* String */
.co { color: #808080; font-style: italic; } /* Comment */
.al { color: #00ff00; font-weight: 300; } /* Alert */
.fu { color: #c14a3f; } /* Function */
.er { color: #ff0000; font-weight: 500; } /* Error */
.wa { color: #ff0000; font-weight: 500; } /* Warning */
.cn { color: #000000; } /* Constant */
.sc { color: #ff00ff; } /* SpecialChar */
.vs { color: #dd0000; } /* VerbatimString */
.ss { color: #dd0000; } /* SpecialString */
.im { } /* Import */
.va { } /* Variable */
.cf { } /* ControlFlow */
.op { } /* Operator */
.bu { } /* BuiltIn */
.ex { } /* Extension */
.pp { font-weight: 500; } /* Preprocessor */
.at { } /* Attribute */
.do { color: #808080; font-style: italic; } /* Documentation */
.an { color: #808080; font-weight: 500; font-style: italic; } /* Annotation */
.cv { color: #808080; font-weight: 500; font-style: italic; } /* CommentVar */
.in { color: #808080; font-weight: 500; font-style: italic; } /* Information */
.ot { color: #42726f; }
