<article>
    <header>
        <h1>$title$</h1>
        $if(subtitle)$<h2>$subtitle$</h2>$endif$
        <p>Posted on <time datetime="$datetime$">$date$</time> $if(author)$ by $author$ $endif$</p>
    </header>
    $if(toc)$
      $toc$
    $endif$
    $body$
</article>
